@import "variables";
@import "_form";
@import "_list";

body {
  -webkit-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}


