<h2>Add Book</h2>
<form (ngSubmit)="onSubmit(bookForm)" #bookForm="ngForm" [ngClass]="bookForm.submitted ? 'ng-submitted': ''">
  <fieldset>
    <!--{{ diagnostic }}-->
    <legend>Book Detail</legend>
    <div class="form-group">
      <label for="title">Title*:</label>
      <input
        name="title"
        type="text"
        maxlength="30"
        id="title"
        required
        placeholder="Book Title"
        class="form-control"
        [(ngModel)]="book.title"
        #title="ngModel"
      />
      <div [hidden]="(!bookForm.submitted && title.pristine) || title.valid" class="alert alert-danger">
        Title is required
      </div>
    </div>
    <div class="form-group">
      <label for="category">Category*: </label>
      <select
        id="category"
        name="category"
        [(ngModel)]="book.category"
        required
      >
        <option [value]="category.Drama">Drama</option>
        <option [value]="category.Comedy">Comedy</option>
        <option [value]="category.Sport">Sport</option>
      </select>
    </div>

    <div class="form-group">
      <label for="description">Description*:</label>
      <textarea
        id="description"
        cols="30"
        rows="5"
        name="description"
        placeholder="Description"
        required
        class="form-control"
        [(ngModel)]="book.description"
        #description="ngModel"
      ></textarea>
      <div
        [hidden]="(!bookForm.submitted && description.pristine) || description.valid"
        class="alert alert-danger"
      >
        Description is required
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </fieldset>
</form>
